
{% include 'header_template.html.twig' %}

<div class="content-wrapper">

        <div class="col-sm-6">
            <h1>Modifier un service</h1>
        </div>

<div class="card-body">

    
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
        
</div>

</div>

{% include 'footer_template.html.twig' %}
