{% extends 'base.html.twig' %}

{% block title %}Edit TestResultat{% endblock %}

{% block body %}
    <h1>Edit TestResultat</h1>

    {{ include('test_resultat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_test_resultat_index') }}">back to list</a>

    {{ include('test_resultat/_delete_form.html.twig') }}
{% endblock %}
