{% include 'header_template.html.twig' %}


{% block title %}Matrimoniale index{% endblock %}

<div class="content-wrapper" style="min-height: 1302.4px;">

<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-9">
<div class="card">
<div class="card-header">
    <h1>Liste des situations matrimoniales</h1>
</div>

{% block body %}
   <center> <h1>Sexe index</h1> </center>
  

    <table class="table">
        <thead>
            <tr>
                <th>Des_matrimoniale</th>
                <th colspan="2" style="text-align:center">Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for matrimoniale in matrimoniales %}
            <tr>

                <td>{{ matrimoniale.desMatrimoniale }}</td>
                <td style="text-align:center">
                    <a href="{{ path('app_matrimoniale_show', {'id': matrimoniale.getId()}) }}"><button class="btn btn-success"><i class="nav-icon fas fa-file"></i></button></a>
                </td style="text-align:center">
                <td>
                    <a href="{{ path('app_matrimoniale_edit', {'id': matrimoniale.getId()}) }}"><button class="btn btn-warning"><i class="nav-icon fas fa-edit"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_matrimoniale_new') }}"><button class="btn btn-info">Create new</button></a>
{% endblock %}
</div>
</div>
</div>
</div>
</section>
</div>

{% include 'footer_template.html.twig' %}