{% extends 'base.html.twig' %}

{% block title %}New Matrimoniale{% endblock %}

{% block body %}
    <h1>Create new Matrimoniale</h1>

    {{ include('matrimoniale/_form.html.twig') }}

    <a href="{{ path('app_matrimoniale_index') }}">back to list</a>
{% endblock %}
