{% extends 'base.html.twig' %}

{% block title %}Edit ProformatArticle{% endblock %}

{% block body %}
    <h1>Edit ProformatArticle</h1>

    {{ include('proformat_article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_proformat_article_index') }}">back to list</a>

    {{ include('proformat_article/_delete_form.html.twig') }}
{% endblock %}
