{% include 'header_achat.html.twig' %}

{% block title %}Demandes non traites{% endblock %}

<div class="content-wrapper" style="min-height: 1302.4px;">

<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-9">
<div class="card">
<div class="card-header">
    <h1>Bon commande en attente</h1>
</div>

{% block body %}

    <table class="table table-bordered">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>QuantiteTotal</th>
                <th>Actions</th>
                {# <th colspan="3" style="text-align:center">Actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td>{{ fournisseur.getDesFournisseur() }}</td>
                {# <td>{{ demande.quantiteTotal }}</td> #}
                {# <td style="text-align:center">
                    <a href="{{ path('app_demande_departement_detail', {'id': demande.article.getId() }) }}"><button class="btn btn-info">Details</button></a>
                </td> #}
                <td style="text-align:center">
                     <a href="{{ path('app_proformat_article_traiter', {'id': fournisseur.getId() }) }}"><button class="btn btn-info">Details</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de resultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

</div>
</div>
</div>
</div>
</section>
</div>

{% include 'footer_template.html.twig' %}