{% block body %}

    <center><h1>Ajout d'un diplome</h1></center>

    {{ include('diplome/_form.html.twig') }}

    <a href="{{ path('app_diplome_index') }}"><button> class="btn btn-primary">back to list</button></a>
{% endblock %}

</div>
</div>
</div>
</div>
</section>
</div>
