
{% block title %}New Nationalite{% endblock %}

{% block body %}
    <center><h1>Ajout d'une nationalite</h1></center>


    {{ include('nationalite/_form.html.twig') }}

    <a href="{{ path('app_nationalite_index') }}">back to list</a>
{% endblock %}

</div>
</div>
</div>
</div>
</section>
</div>