{% extends 'base.html.twig' %}

{% block title %}New CvCandidatNote{% endblock %}

{% block body %}
    <h1>Create new CvCandidatNote</h1>

    {{ include('cv_candidat_note/_form.html.twig') }}

    <a href="{{ path('app_cv_candidat_note_index') }}">back to list</a>
{% endblock %}
