{% extends 'base.html.twig' %}

{% block title %}Edit ImmobilisationDetails{% endblock %}

{% block body %}
    <h1>Edit ImmobilisationDetails</h1>

    {{ include('immobilisation_details/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_immobilisation_details_index') }}">back to list</a>

    {{ include('immobilisation_details/_delete_form.html.twig') }}
{% endblock %}
