{% extends 'base.html.twig' %}

{% block title %}Edit BonCommande{% endblock %}

{% block body %}
    <h1>Edit BonCommande</h1>

    {{ include('bon_commande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bon_commande_index') }}">back to list</a>

    {{ include('bon_commande/_delete_form.html.twig') }}
{% endblock %}
