{% include 'header_template.html.twig' %}
{% block title %}Sexe index{% endblock %}
<div class="content-wrapper" style="min-height: 1302.4px;">

<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-">
<div class="card">
<div class="card-header">
    <h1>Liste des diplomes</h1>
</div>

{% block body %}
   <center> <h1>Sexe index</h1> </center>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Des_sexe</th>
                <th colspan="2" style="text-align:center">Actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for sexe in sexes %}
            <tr>
                <td>{{ sexe.desSexe }}</td>
               <td>
                    <a href="{{ path('app_sexe_show', {'id': sexe.getId()}) }}"><button class="btn btn-success"><i class="nav-icon fas fa-file"></i></button></a>
                </td>
                <td>
                    <a href="{{ path('app_sexe_edit', {'id': sexe.getId()}) }}"><button class="btn btn-warning"><i class="nav-icon fas fa-edit"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sexe_new') }}"><button class="btn btn-info">Create new</button></a>
{% endblock %}
</div>
</div>
</div>
</div>
</section>
</div>

{% include 'footer_template.html.twig' %}